body {
    // a modified approach to sans-serif fonts
    font-family: Inter, 'SF Compact', 'Segoe UI', Roboto, sans-serif;
}
container {
    max-width: calc(100vw - 20%);
    width: 840px;
    margin: auto;
    display: block;
    padding-top: 24px;
}